	
<div class="panel-body">
	<h2>Настройка параметров поиска в БД</h2>		
	<input type="button" id="btnReply" value="загрузить" class="btnToolbarNorm bgr-ffffff" 
	title="кликни для загрузки данных после настройки параметров поиска"	ng-click="selectMode('rezult')" 
	ng-mouseenter="btnToolbarNorm.handleEvent($event)" ng-mouseleave="btnToolbarNorm.handleEvent($event)"/>
			<div id="params" >
				<div id="content" >
					<table id="ptab"><tbody>
					<tr>
						<td><div unipopupbtn="Brand" placeholder="Марка"  clearimgsrc ="../../../images/clear12button.PNG"></div></td>
						<td><div unipopupbtn="Model" placeholder="Модель"  clearimgsrc ="../../../images/clear12button.PNG"></div></td>
						<td><div unipopupkey="RegNum" placeholder="Номерной знак"  model="curRegNum.Name" size="32" clearimgsrc="../../../images/clear12button.PNG" title="регистрационный номер автомобиля (буквы русские)"></div></td>
					</tr>
					<tr>							
						<td colspan="3"><div unipopupkey="Name"   placeholder="Перевозчик" model="curName.Name" size="75" clearimgsrc="../../../images/clear12button.PNG" title="владелец автомобиля и перевозчик (буквы русские)"></div></td>
					</tr></tbody></table >
				</div>
			</div>
			<div unipopupdiv></div> 
			<div class="paramsinfo">
				<img id="paramsinfo" class="imgToolbarNorm"   src="paramsinfo.png"  alt = "?" style="border-width:0" 
				ng-click="selectMode('params/paramsinfo')" 	title="Пояснения по вводу параметров запроса - показать/скрыть"/>
				
			</div>
</div>
