
tbody {padding:0px;margin:0px;}
div.panel-body {background: #51775A;}


.tgTable {font-size: 1em; font-family:sans-serif;width:100%;padding:0px;margin:0px;border-collapse:collapse;border:1px solid black;}
td.tgCell {padding:0px 5px;border:1px solid black;background-color:white;color: black;/* cursor: pointer; */}
td.tgCell.hover{  color:white;background-color: steelblue; cursor:default;}
td.tgCell button.btni{ /*width: 32px;height:20px;margin-bottom:1.5px;border: 1px solid #686868;border-radius:6px; background-color: #878787;}*/
    width: 40px;
    height: 20px;
	background: #5f9291;
    /* border: 1px solid transparent; */
	border: 1px solid #447776;
    border-top-color: #8fb3b2;
	border-radius: 9px;
    margin-bottom: 2px;
}	

td.tgCell a.ai,td.tgCell button.ai{
   /*  width: 40px; */
    height: 20px;
	background: #f6f9f7;
    color: #a5a5a5;
    border: 0;
	text-decoration: none;
}

td.tgCell button.btni i.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
	vertical-align: 10%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}








input.form-control.unipopinput {border-color: #3c6d48;cursor:default;}
/*.facaretdown{background-position: 97% 50%;background-image: url(fa-caret-down.png);background-repeat: no-repeat;}*/

button#btnReply,button#_btnReply,button#btnParams,button#_btnParams {background: #79925f;border: 1px solid #3c6d48;border-radius: 17px;} 

h2#paramstitle {padding-left: 0;font-family: Georgia;font-size: x-large;text-align:center;color: #f6f9f7;}
div#mes        {padding-left: 0;font-family: Georgia;font-size: x-large;text-align:left;}
div#mes {margin-left:0;margin-bottom:5px;margin-top:5px;width:100%;text-align:left; background-color:#777;border:1px solid #666;border-radius:6px;}
span#mestext{ color:#fff;font-size:12pt; font-family:Georgia, 'Times New Roman', Times, serif; cursor: pointer;vertical-align: text-top; }
span#mestextmark { color:#fff;font-size:12pt; font-family:Georgia, 'Times New Roman', Times, serif; cursor: default;}


table#DBInfo th,
table#DBInfo td		{border: 1px solid lightcoral}
table#DBInfo td.hover {background-color: #8ca177;}

span#show-paramsinfo.badge,span#hide-paramsinfo.badge {
	background-color: #79925f;
    color: #ffffff;
    border: 1px solid #3c6d48;
	cursor: pointer;
	margin-bottom: 0;
}
div#md-paramsinfo table {width: 94%;margin:0 3%;border: 0;}	
div#md-paramsinfo table caption h2 {color: #fff;}	
div#md-paramsinfo table td	{width: 50%; text-align: justify; vertical-align: top;}


 /*div#paramsinfo table { width: 100%;  border: 0}*/
/*span#show-paramsinfo, span#hide-paramsinfo*/ 

span.hasi {background: #8ca177;  border: 1px solid #3c6d48;border-radius: 10px;overflow: hidden;cursor: pointer;margin-top: 10px;}
span.hasi#downBrand,span.hasi#_downBrand,span.hasi#downModel,span.hasi#downRegNum,span.hasi#downName 	{background: #5f9291;}
span.hasi#unselectBrand,span.hasi#_unselectBrand,span.hasi#unselectModel,span.hasi#unselectRegNum,span.hasi#unselectName	{background: #cd5c5c;} /* #fa8072 #ff6347 */
span.hasi#focusRegNum,span.hasi#_focusRegNum,span.hasi#focusName	{background: #b17a2b;}



.thisImportant {color:Maroon;font-weight:600}

span.badge.label-danger {font-size: 1em}
code {font-size: 1.1em}	


input#txtBrand:read-only,input#txtModel:read-only,input#txtRegNum:read-only,input#txtName:read-only	{background-color:#d0d0d0;}









/*-----------------------------------------------------------------------*/

.ngIncludeRelative {
	position: relative;	height: 100%;
}
.ngIncludeItem {
	position: absolute;	width: 100%;	display: block;
}
.ngIncludeItem.ng-enter,
.ngIncludeItem.ng-leave {
	transition: 450ms linear all;
}
.ngIncludeItem.ng-enter {
	transform: translateX(100%);
}
.ngIncludeItem.ng-enter-active {
	transform: translateX(0%);
}
.ngIncludeItem.ng-leave {
	transform: translateX(0%);
}
.ngIncludeItem.ng-leave-active {
	transform: translateX(-100%);
}

/*-----------------------------------------------------------------------*/
/*div.uniPopup{display:none;overflow-y:auto;overflow-x:hidden;height:341px;}*/
.uniPopup {
	/*display:none;overflow-y:auto;overflow-x:hidden;	height:341px;*/
	width: 30%;
	height: 460px;
	max-height: 0px;
	overflow: hidden;
}


@keyframes open-down-animation {
	0% {
		max-height: 0px;
		overflow: hidden;
	}
	100% {
		max-height: 460px;
	}
}
.open-down {
animation-name:open-down-animation;
animation-duration:.3s;
animation-fill-mode: forwards;
/*animation-timing-function:linear;*/
animation-timing-function : cubic-bezier (0.25, 0.1, 0.25, 1)
}


@keyframes close-up-animation {
	0% {
		max-height: 460px;
		overflow: hidden;
	}
	100% {
		max-height: 0px;
		overflow: hidden;
	}
}
.close-up {
animation-name:close-up-animation;
animation-duration:.3s;
animation-fill-mode: forwards;
/*animation-timing-function:linear;*/
animation-timing-function : cubic-bezier (0.25, 0.1, 0.25, 1)
}

@media screen and (max-width: 767px) {
	form fieldset, h2#paramstitle, h2#rezult-title	{ 		
		font-size: large;
		/*font-weight: 700;*/
	}	
}